.slider_type_four {
  background: linear-gradient(75.16deg, #121212 2.97%, rgba(0, 0, 0, 0.65) 36.16%, rgba(0, 0, 0, 0) 84.12%),
  url(../../../images/slide-image4.jpg);
  background-size: cover;
  background-position: center;
  object-fit: cover;
}