.contact__item {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #E9971D;
  transition: 0.3s 0s opacity ease-in;
}

.contact__item:hover {
  opacity: .6;
}

@media screen and (max-width: 1280px) {
  .contact__item {
    font-size: 16px;
    line-height: 100%;
  }
}